a {
    text-decoration: none;

}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-char:hover {
    color: black !important;
}

hr {
    height: 5px;
    /* set the height to make it thicker */
    width: 75%;
    /* set the width to 75% of the screen */
    margin: 30px auto;
    /* center the element horizontally and add some vertical spacing */
    background-color: #000;
    /* set the color to black */
    border: none;
    /* remove the default border */
}

.container {
    background: #fff;
}

.card-img-height {
    height: 400px;
    object-fit: cover;
}

.login-bg {
    background-image: url("");
    /* #f55052 */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.register-logo {
    font-weight: 900;
    color: #f55052;

}

.recipe-img-hover:hover {
    filter: brightness(0.5) blur(0.5px);
}

.input-width {
    width: 400px;
    /* set the same width as the input boxes */
}

.img-dashboard {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) blur(0.5px);
}

.is_disabled {
    filter: brightness(0.5) blur(1px);
}

.navbar-nav .nav-link {
    padding-left: 50px !important;
}