<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimsumz 2 Go</title>
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

    <h1>500 error: There seems to be an error, it is not your fault it is the server's fault(not really, it is
        dev's fault) please click
        the link below </h1>

    <a href="{{ url_for('index') }}">Click Me!</a>
</body>

</html>