<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimsumz2Go</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Golos+Text&family=Open+Sans:ital,wght@1,800&family=Permanent+Marker&family=Poppins:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/b5d820a994.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #f55052;">
        <div class=" container-fluid">
            <a href="{{ url_for('home') }}" class="nav-link py-3 px-2 hovertext" data-hover="Home" title=""
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="fa-solid fa-2x" style="color:white;">Dimsumz 2 Go</i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="{{ url_for('dashboard') }}" class="nav-link py-3 px-2 hovertext" data-hover="Dashboard"
                        title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-table-columns fa-2x" style="color:white;"></i>
                    </a>
                    <a href="{{ url_for('inventory') }}" class="nav-link py-3 px-2 hovertext" data-hover="Graphs"
                        title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-warehouse fa-2x" style="color:white;"></i>
                    </a>

                    <a href="{{ url_for('graphs') }}" class="nav-link py-3 px-2 hovertext" data-hover="Graphs" title=""
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-chart-simple fa-2x" style="color:white;"></i>
                    </a>

                    <a href="{{ url_for('logout') }}" class="nav-link py-3 px-2 hovertext" data-hover="Sign-out"
                        title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-right-from-bracket fa-2x" style="color:white;"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid" id="wrapper">
        <div class="row">

            <div class="col-lg-4 col-md-4 p-3 mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        {% if total_users %}
                        <h5 class="card-title">Total Users</h5>
                        <p class="card-text" style="font-size: 20px;">
                            <i class="fas fa-users fa-lg"></i> {{ total_users }}
                        </p>
                        {% else %}
                        <p class="card-text text-center">No data available for Another Graph.</p>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 p-3  mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        {% if total_ingredient %}
                        <h5 class="card-title">Total Ingredients</h5>
                        <p class="card-text" style="font-size: 20px;"> <i class="fas fa-shopping-basket"></i> {{
                            total_ingredient }}</p>
                        {% else %}
                        <p class="card-text text-center">No data available for Another Graph.</p>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 p-3  mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        {% if total_menu_items %}
                        <h5 class="card-title">Total Menu Items</h5>
                        <p class="card-text" style="font-size: 20px;"> <i class="fas fa-shopping-basket"></i> {{
                            total_menu_items }}</p>
                        {% else %}
                        <p class="card-text text-center">No data available for Another Graph.</p>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 p-3 mx-auto">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center">

                            {% if top_menu_data %}
                            <div class="chart-container">
                                <canvas id="myChart2"></canvas>
                            </div>
                            {% else %}
                            <p class="card-text text-center">No data available for Another Graph.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 p-3 mx-auto">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center">
                            {% if top_three_label %}
                            <div class="chart-container">
                                <canvas id="myChart"></canvas>
                            </div>
                            {% else %}
                            <p class="card-text text-center">No data available for Another Graph.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 p-3 mx-auto">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center">

                            {% if weekly_sales_total %}
                            <div style="width: 100%; height: 400px;">
                                <canvas id="weeklychart"></canvas>
                            </div>
                            {% else %}
                            <p class="card-text text-center">No data available for Another Graph.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </div>





        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ top_three_label | tojson }},
                datasets: [{
                    label: 'Quantity',
                    data: {{ top_three_data | tojson }},
                backgroundColor: ['rgba(75, 192, 192, 0.6)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 205, 86, 0.8)'
                ]}]
                            },
                options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Top Three Ingredients with Low Stock'
                    }
                }
            }
                        });
        </script>

        <script>
            // Get the data from Flask and store it in JavaScript variables
            var menuData = {{ top_menu_data| tojson }};
            var menuLabels = {{ top_menu_labels| tojson }};

            // Create a new pie chart
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: menuLabels,
                    datasets: [{
                        label: 'Menu Items',
                        data: menuData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)', // Example color 1
                            'rgba(54, 162, 235, 0.5)', // Example color 2
                            'rgba(255, 206, 86, 0.5)' // Example color 3
                            // Add more colors as needed
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false,
                            position: 'left',
                            labels: {
                                usePointStyle: true
                            }
                        },
                        title: {
                            display: true,
                            text: 'Top Three Most Bought Menu Items'
                        }
                    }
                }
            });
        </script>

        <script>
            // Get the data from Flask and store it in JavaScript variables
            var weeklySalesData = {{ weekly_sales_total| tojson }};

            // Create an array to store the week numbers and sales data separately
            var weekNumbers = [];
            var salesData = [];

            // Extract the week numbers and sales data from the object
            for (var weekNumber in weeklySalesData) {
                weekNumbers.push(weekNumber);
                salesData.push(weeklySalesData[weekNumber]);
            }

            // Create a new line chart
            var ctx3 = document.getElementById('weeklychart').getContext('2d');
            new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: weekNumbers,
                    datasets: [{
                        label: 'Weekly Sales',
                        data: salesData,
                        borderColor: 'rgba(54, 162, 235, 1)', // Set the line color
                        borderWidth: 2,
                        fill: false // Set to false to disable filling the area under the line
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Week Number'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Sales'
                            }
                        }
                    }
                }
            });
        </script>






        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
            </script>
</body>


</html>