<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimsumz 2 Go</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Golos+Text&family=Open+Sans:ital,wght@1,800&family=Permanent+Marker&family=Poppins:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b5d820a994.js" crossorigin="anonymous"></script>
</head>

<body>


    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #f55052;">
        <div class=" container-fluid">
            <a href="{{ url_for('home') }}" class="nav-link py-3 px-2 hovertext" data-hover="Home" title=""
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="fa-solid fa-2x" style="color:white;">Dimsumz 2 Go</i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="{{ url_for('dashboard') }}" class="nav-link py-3 px-2 hovertext" data-hover="Dashboard"
                        title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-table-columns fa-2x" style="color:white;"></i>
                    </a>
                    <a href="{{ url_for('inventory') }}" class="nav-link py-3 px-2 hovertext" data-hover="Inventory"
                        title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-warehouse fa-2x" style="color:white;"></i>
                    </a>

                    <a href="{{ url_for('graphs') }}" class="nav-link py-3 px-2 hovertext" data-hover="Graphs" title=""
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-chart-simple fa-2x" style="color:white;"></i>
                    </a>

                    <a href="{{ url_for('logout') }}" class="nav-link py-3 px-2 hovertext" data-hover="Sign-out"
                        title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="fa-solid fa-right-from-bracket fa-2x" style="color:white;"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="padding: 40px 0 40px 0;">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="register-logo text-center">Create A Recipe</h1>
                        <form method="POST" action="{{ url_for('create') }}" id="my-form">
                            {{ form.csrf_token }}
                            <div class="col-md-12">
                                {{ form.recipe.label}}
                                {{ form.recipe(size=40, class_="textarea-conf form-control") }}
                            </div>
                            <br>
                            <div class="col-md-12">
                                {{ form.desc.label }}
                                {{ form.desc(size=70, class_="textarea-conf1 form-control") }}
                            </div>

                            <br>
                            <div class="col-md-12">
                                {{ form.url.label }}
                                {{ form.url(size=40, class_="textarea-conf form-control") }}
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="ingredient-container" id="select-box-container">
                                    {{ form.ingredients.label }}
                                    <br>
                                    {{ form.ingredients(class_="textarea-conf", id="ingredients-field-") }}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="quantity-container" id="int-select-container">
                                    {{ form.quantity.label }}
                                    {{ form.quantity(class_="textarea-conf", id="quantity-field") }}
                                    {{ form.weight(class_="textarea-conf", id="weight-field") }}
                                </div>
                            </div>


                            <div class="text-left">
                                <button type="button" value="Add" id="my-button"
                                    class="btn btn-outline-danger my-3 mx-auto">Add
                                    another
                                    Ingredient</button>
                            </div>

                            <br>
                            <div class="col-12">
                                {{ form.instructions.label }}
                            </div>
                            <div class="col-12">
                                {{ form.instructions(size=70, class_="textarea-conf1 form-control") }}
                            </div>
                            {% if error %}
                            <ul class="my-2 text-danger text-center" style="list-style: none;">
                                <li>{{ error }}</li>
                            </ul>
                            {% endif %}
                            <br>
                            <div class="text-left">
                                <button type="submit" value="Add"
                                    class="btn btn-outline-danger my-3 mx-auto">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <br>
    <div class="container-fluid" style="background-color:#d93c3f;">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center" style="padding-top: 40px;">
                <h2 class="footer-heading"><a href="#" class="logo" style="color:white">Dimsumz2Go.com</a>
                </h2>
                <p class="menu">
                    <a href="#">Home</a>
                    <a href="#">Register</a>
                    <a href="#">Contact</a>
                    <a href="#">Logout</a>
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Dimsumz2Go
                </p>
            </div>
        </div>
    </div>



    <!-- <script>
        const myButton = document.getElementById("my-button");
        const selectBox = document.getElementById("ingredients-field");
        const quantityField = document.getElementById("quantity-field");
        const weightField = document.getElementById("weight-field");
        const selectBoxContainer = document.getElementById("select-box-container");
        const intBoxContainer = document.getElementById("int-select-container");

        const form = document.getElementById("my-form");
        let selectBoxCount = 1;

        myButton.addEventListener("click", function () {
            // create a new SelectField
            const newSelectBox = selectBox.cloneNode(true);
            newSelectBox.id = `ingredients-field-${selectBoxCount}`;
            newSelectBox.name = `ingredients-field-${selectBoxCount}`;

            // create a new IntegerField
            const newQuantityField = quantityField.cloneNode(true);
            newQuantityField.id = `quantity-field-${selectBoxCount}`;
            newQuantityField.name = `quantity-field-${selectBoxCount}`;

            // create a new SelectField
            const newWeightField = weightField.cloneNode(true);
            newWeightField.id = `weight-field-${selectBoxCount}`;
            newWeightField.name = `weight-field-${selectBoxCount}`;

            // create a new label for the SelectField
            const selectBoxLabel = document.createElement("label");
            selectBoxLabel.textContent = `Select an Ingredient ${selectBoxCount}`;

            // create a new label for the IntegerField
            const quantityLabel = document.createElement("label");
            quantityLabel.textContent = `Quantity ${selectBoxCount}`;

            // append the new fields to the form
            selectBoxContainer.appendChild(selectBoxLabel);
            selectBoxContainer.appendChild(newSelectBox);

            intBoxContainer.appendChild(quantityLabel);
            intBoxContainer.appendChild(newQuantityField);

            intBoxContainer.appendChild(newWeightField);

            // increment the counter
            selectBoxCount++;
        });

    </script> -->


    <script>
        const myButton = document.getElementById("my-button");
        const selectBox = document.getElementById("ingredients-field-");
        const quantityField = document.getElementById("quantity-field");
        const weightField = document.getElementById("weight-field");
        const selectBoxContainer = document.getElementById("select-box-container");
        const intBoxContainer = document.getElementById("int-select-container");

        const form = document.getElementById("my-form");
        let selectBoxCount = parseInt(document.querySelectorAll('select[id^="ingredients-field-"]').length) + 1;

        myButton.addEventListener("click", function () {
            console.log(selectBoxCount);
            // create a new SelectField
            const newSelectBox = selectBox.cloneNode(true);
            newSelectBox.id = `ingredients-field-${selectBoxCount}`;
            newSelectBox.name = `ingredients-field-${selectBoxCount}`;

            // create a new IntegerField
            const newQuantityField = quantityField.cloneNode(true);
            newQuantityField.id = `quantity-field-${selectBoxCount}`;
            newQuantityField.name = `quantity-field-${selectBoxCount}`;

            // create a new SelectField
            const newWeightField = weightField.cloneNode(true);
            newWeightField.id = `weight-field-${selectBoxCount}`;
            newWeightField.name = `weight-field-${selectBoxCount}`;

            // create a new label for the SelectField
            const selectBoxLabel = document.createElement("label");
            selectBoxLabel.textContent = `Select an Ingredient ${selectBoxCount}`;

            // create a new label for the IntegerField
            const quantityLabel = document.createElement("label");
            quantityLabel.textContent = `Quantity ${selectBoxCount}`;

            // append the new fields to the form
            selectBoxContainer.appendChild(selectBoxLabel);
            selectBoxContainer.appendChild(newSelectBox);

            intBoxContainer.appendChild(quantityLabel);
            intBoxContainer.appendChild(newQuantityField);

            intBoxContainer.appendChild(newWeightField);

            // create hidden input fields for the new fields and append them to the form
            const selectBoxHidden = document.createElement("input");
            selectBoxHidden.type = "hidden";
            selectBoxHidden.name = `ingredients-field-${selectBoxCount}`;
            selectBoxHidden.value = newSelectBox.selectedOptions[0].textContent; // Get the selected text
            form.appendChild(selectBoxHidden);

            const quantityFieldHidden = document.createElement("input");
            quantityFieldHidden.type = "hidden";
            quantityFieldHidden.name = `quantity-field-${selectBoxCount}`;
            quantityFieldHidden.value = newQuantityField.value;
            form.appendChild(quantityFieldHidden);

            const weightFieldHidden = document.createElement("input");
            weightFieldHidden.type = "hidden";
            weightFieldHidden.name = `weight-field-${selectBoxCount}`;
            weightFieldHidden.value = newWeightField.value;
            form.appendChild(weightFieldHidden);


            // increment the counter
            selectBoxCount++;
        });

    </script>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
</body>

</html>