<!DOCTYPE html>
<html lang="en">

<!-- TODO create pre-populate for recipes -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Golos+Text&family=Open+Sans:ital,wght@1,800&family=Permanent+Marker&family=Poppins:wght@300&display=swap"
        rel="stylesheet">
    <title>Dimsumz 2 Go</title>
    <script src="https://kit.fontawesome.com/b5d820a994.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container-fluid" id="wrapper">
        <div class="row">
            <div class="col-lg-auto col-md-auto sticky-top" style="background-color: #f55052;">
                <div class="d-flex flex-sm-column flex-row flex-nowrap  align-items-center sticky-top">

                    <ul
                        class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                        <li class="nav-item">
                            <a href="{{ url_for('home') }}" class="nav-link py-3 px-2 hovertext" data-hover="Home"
                                title="" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-original-title="Home">
                                <i class="fa-solid fa-house" style="color:white;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard') }}" class="nav-link py-3 px-2 hovertext"
                                data-hover="Dashboard" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-original-title="Dashboard">
                                <i class="fa-solid fa-table-columns" style="color:white;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('graphs') }}" class="nav-link py-3 px-2 hovertext" data-hover="Graphs"
                                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Graphs">
                                <i class="fa-solid fa-chart-simple" style="color:white;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('inventory') }}" class="nav-link py-3 px-2 hovertext"
                                data-hover="Inventory" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-original-title="Products">
                                <i class="fa-solid fa-warehouse" style="color:white;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}" class="nav-link py-3 px-2 hovertext" data-hover="Sign-out"
                                title="" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-original-title="Sign-out">
                                <i class="fa-solid fa-right-from-bracket" style="color:white;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Card content below -->
            <div class="col-lg-9 col-md-9 p-3 min-vh-100">

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center"
                    style="padding: 20px 250px 0 0">

                    {% for m, i in zip(menu, img) %}
                    <div class="col-md-6 col-lg-4 col-sm-12" style="padding: 20px 150px 20px 150px;">
                        <div class="card custom-card">
                            <a href="{{ url_for('item', num=m.id) }}">

                                <img src="{{ i.path }}" class="card-img-top card-img-height recipe-img-hover"
                                    alt="Recipes">
                            </a>
                            <div class="card-body">

                                <h5 class="card-title custom-title-truncate ">{{ m.name }}</h5>

                                <p class="card-text custom-truncate">{{ m.desc }}</p>
                                <button data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#popup"
                                    id='delete-btn' class="btn-position my-1 mx-auto btn btn-danger"
                                    onclick="showPopup('{{m.name}}')">Buy
                                    for ₱{{ m.cost}}</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="col-md-6 col-lg-4 col-sm-12" style="padding: 20px 150px  20px 150px;">
                        <div class="card custom-card">
                            <a href=" {{ url_for('create') }}">

                                <img src="/static/images/plus.png" class="card-img-top card-img-height recipe-img-hover"
                                    alt="Recipes">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title custom-title-truncate">Add Recipe</h5>
                                <p class="card-text custom-truncate">You can add a recipe by clicking the image above.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">🧾 Sale</h1>
                </div>
                <div class="modal-body">
                    How many order?
                    <br>
                    <div class="input-group">
                        <input type="number" value="1" min="0" step="1" class="form-control" id="amountInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button href="" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="cancelBtn">Cancel</button>
                    <button type="button" class="btn btn-danger"><a style="color:white" href="">Make
                            purchase!</a></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showPopup(name) {

            // Set the href attribute of the 'Yes, I am sure' button to include the name variable
            var buyButton = document.querySelector('#popup .btn-danger a');
            var quanBox = document.getElementById("amountInput");
            buyButton.href = "/buyMenu/" + name + "?quantity=" + quanBox.value;

            // Show the modal
            var popup = new bootstrap.Modal(document.getElementById('popup'));
            popup.show();
        }

        document.getElementById("cancelBtn").addEventListener("click", function () {
            var modalBackdrop = document.querySelector(".modal-backdrop");
            modalBackdrop.parentNode.removeChild(modalBackdrop);
            $('#amountInput').val(1);
        });

    </script>

    <script>
        document.querySelectorAll('.up-btn').forEach(button => {
            button.addEventListener('click', () => {
                const menuId = button.getAttribute('data-menu');
                const menuQuantity = parseInt(localStorage.getItem(`menu-${menuId}`)) || 0;
                localStorage.setItem(`menu-${menuId}`, menuQuantity + 1);
            });
        });

        document.querySelectorAll('.down-btn').forEach(button => {
            button.addEventListener('click', () => {
                const menuId = button.getAttribute('data-menu');
                const menuQuantity = parseInt(localStorage.getItem(`menu-${menuId}`)) || 0;
                localStorage.setItem(`menu-${menuId}`, Math.max(menuQuantity - 1, 0));
            });
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>



</body>

</html>